*{
    margin: 0px;
    font-family: sans-serif;
    list-style: none;
    box-sizing: border-box;
}
.network{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.a1{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 50px;
}

.b1,
.b2{
    width: 260px;
    padding: 20px;
    border-bottom: 1px solid color-mix(in srgb, gray 30%, white 70%);
    box-shadow: 0px 0px 5px;
    height: 350px;
}

.b3{
    width: 400px;
}

h1{
    font-size: 50px;
    color: color-mix(in srgb, black 80%, blue 20%);
}

h3{
    color: color-mix(in srgb, black 70%, gray 30%);
}

h5{
    color: color-mix(in srgb, blue 70%, cyan 30%);
    font-size: 20px;
}

.c1,
.c2{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}


span{
    color: color-mix(in srgb, blue 60%, gray 40%);
}

.d1{
    color: color-mix(in srgb, red 70%, orange 30%);
    font-size: 20px;
}

p{
    margin-top: 30px;
    line-height: 30px;
    color: color-mix(in srgb, gray 80%, black 20%);
}

a{
    display: inline-block;
    margin-top: 40px;
    color: color-mix(in srgb, black 70%, blue 30%);
    font-weight: bold;
}

button{
    margin-top: 30px;
    padding: 18px 40px;
    border: none;
    border-radius: 12px;
    background-color: color-mix(in srgb, deepskyblue 70%, blue 30%);
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 60px;
}
.members{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 60px;
    align-items: center;
}
.BIG{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}
.Footer{
    background-color: rgba(43, 43, 57, 1);
}

.aa{
    display: flex;
    justify-content: space-around;
    padding: 60px;
    margin-top: 80px;
}

.bb,
.cc,
.dd,
.ee,
.ff{
    color: white;
}

h2{
    margin-bottom: 30px;
    color: color-mix(in srgb, white 90%, pink 10%);
}

p{
    margin: 20px 0;
    color: color-mix(in srgb, gray 40%, white 60%);
}

.gg{
    display: flex;
    margin-top: 30px;
}

input{
    padding: 15px;
    width: 220px;
    border: 2px solid color-mix(in srgb, white 70%, gray 30%);
    border-radius: 12px 0 0 12px;
    background-color: transparent;
    color: white;
}

button{
    padding: 15px 25px;
    border: none;
    border-radius: 0 12px 12px 0;
    background-color: color-mix(in srgb, white 90%, beige 10%);
    cursor: pointer;
    color: black;
}